<div class="container">

  <div class="home">
    <div class="home__content">
      <h2 @scaleIn>¡Hola! Soy David Menor, bienvenido a mi espacio</h2>
      <app-btn-download-cv @fallIn></app-btn-download-cv>
    </div>
  </div>
  
  <app-skills-tecnical></app-skills-tecnical>
  <app-profile></app-profile>
  <app-experience></app-experience>

  <app-skills-others ></app-skills-others>
  <app-hobbies></app-hobbies>
  <app-socials></app-socials>
  <app-experience-others></app-experience-others>

</div>